<div class="flex flex-wrap justify-center w-full">
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-200 rounded text-center">
    <img src="../../assets/p_know.png" class="w-16 mx-auto" alt="">
    <p class="py-2">Know How it Spreads</p>
  </div>
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-200 rounded text-center">
    <img src="../../assets/p_handwash.png" class="w-16 mx-auto" alt="">
    <p class="py-2">Clean your hands often</p>
  </div>
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-200 rounded text-center">
    <img src="../../assets/p_close.png" class="w-16 mx-auto" alt="">
    <p class="py-2">Avoid close contact</p>
  </div>
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-200 rounded text-center">
    <img src="../../assets/p_resthome.png" class="w-16 mx-auto" alt="">
    <p class="py-2">Stay home if you’re sick</p>
  </div>
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-200 rounded text-center">
    <img src="../../assets/p_cover.png" class="w-16 mx-auto" alt="">
    <p class="py-2">Cover coughs and sneezes</p>
  </div>
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-200 rounded text-center">
    <img src="../../assets/p_mask.png" class="w-16 mx-auto" alt="">
    <p class="py-2">Wear a facemask feel sick</p>
  </div>
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-200 rounded text-center">
    <img src="../../assets/p_clean.png" class="w-16 mx-auto" alt="">
    <p class="py-2">Clean and disinfect</p>
  </div>
  <div class="flex flex-col w-1/5 my-2 px-4 mx-2 py-4 bg-gray-100 rounded text-center">
    <img src="../../assets/p_know.png" class="w-16 mx-auto" alt="">
    <p class="py-2 text-red-500"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Know more +</a>
      </p>
  </div>
</div>
