
  <div class="max-w-6xl bg-white p-4 rounded-lg shadow-xl m-auto mt-10">
    <div class="flex flex-col md:flex-row flex-wrap justify-between p-1">
      <div class="text-center mt-5 md:mt-0 w-2/3 m-auto">
        <div class="mt-8 p-1 rounded-lg">
          <div class="flex flex-wrap justify-between flex-row">
            <div class="text-left text-xl leading-relaxed ml-4">Welcome To COVID-19</div>
            <div class="text-left ">
              <form [formGroup]="inputCountry" (ngSubmit)="onSubmit()" class="flex flex-wrap" >
                <input type="text" class="bg-gray-100 rounded-l p-2" formControlName="country">
                <input type="submit" class="md:m-0 rounded-r m-auto uppercase cursor-pointer bg-red-400 p-2" value="get">
              </form>
            </div>
          </div>
          <div class="mt-8">
            <div class="block bg-gray-100 py-4 rounded-lg border border-black flex justify-evenly flex-wrap flex-col md:flex-row">
              <div class="m-auto mx-3">
                <div class="text-indigo-700 text-2xl ">
                  Good Morning
                </div>
                <div class="text-gray-800 text-sm">
                  Lorem ipsum dolor sit amet.
                </div>
              </div>

              <div class="m-auto text-center mx-3" style="width: 12rem;">
                <img class="w-full" src="../../assets/undraw_medicine_b1ol.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-auto w-1/3 m-auto bg-red-400">
        2
      </div>
    </div>
  </div>

  {{data | json}}
