<div class="w-full flex mb-10 mt-6 sm:flex-wrap justify-evenly  mx-2">
  <div
    class="w-1/3 px-2 py-4 bg-gray-100 shadow-lg flex justify-evenly  text-black rounded-sm"
  >
    <div class="w-20 rounded-full mt-3 ">
      <img
        class="rounded-full"
        src="https://avatars0.githubusercontent.com/u/40270033?s=460&u=1b226ea48e266a392c3b213b9bedca00ed7e83ff&v=4"
        alt=""
      />
    </div>
    <div class="w-1/2">
      <h1>Sounish Nath</h1>
      <h1 class="text-sm text-indigo-600 italic"><a href="https://github.com/sounishnath003">@sounishnath003</a></h1>
      <p class="pt-2 text-xs text-gray-500 mb-2">
        "I love to develop Web, love chocolates and Coffee. Try to sharpen my
        skills enough."
      </p>
      <a href="https://github.com/sounishnath003" class="flex"
        ><i class="fa fa-eye text-xl text-gray-700" aria-hidden="true"></i
      >
    </a>
    </div>
  </div>
  <div
    class="w-1/3 px-2 py-4 bg-gray-100 shadow-lg flex justify-evenly  text-black rounded-sm"
  >
    <div class="w-20 rounded-full mt-3 ">
      <img
        class="rounded-full"
        src="https://avatars0.githubusercontent.com/u/36039196?s=460&u=1b23b6f579e432c9ca24b5586bddec1168de23cc&v=4"
        alt=""
      />
    </div>
    <div class="w-1/2">
      <h1>Sayan Maity</h1>
      <h1 class="text-sm text-indigo-600 italic"><a href="https://github.com/sayancoding">@sayancoding</a></h1>
      <p class="pt-2 text-xs text-gray-500 mb-2">
        "Love to code. I may not be really perfect but perfectly real."
      </p>
      <a href="https://github.com/sayancoding" class="flex"
        ><i class="fa fa-eye text-xl text-gray-700" aria-hidden="true"></i
      >
    </a>
    </div>
  </div>
</div>
